.breadcrumbs {
    margin-top: 75px;
    color: #747B8F;
    display: flex;
    flex-wrap: wrap;

    .breadcrumbs__link {
        color: #747B8F;

        .link__text {
            font-size: 16px;
            font-weight: 400;

            &:hover {
                color: #4963FF;
            }

        }
        
    }
    .link__arrow {
        margin: 0 17.5px;
        font-weight: 600;
        cursor: default;
    }

}

@media screen and (max-width: 768px) {
    .breadcrumbs {
        margin-top: 45px;
    }
}