ul {

    li {
        border-bottom: 1px solid rgba(119, 126, 144, 0.05);
    
        .question {
            padding: 25px 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
            cursor: pointer;
    
            p {
                font-weight: 500;
            }
    
            span {
                margin-right: 33px;
            }
        }
    
        .question__description {
            max-height: 0;
            padding: 20px 0 20px 50px;
            max-width: 667px;
            opacity: 0;
            overflow: hidden;
        }
    }
    
    .active {
    
        .question__description {
            max-height: 100%;
            opacity: 1;
            transition: max-height 0.5s ease-out, opacity 0.5s ease-out;
        }
    }
    }