.section-first {
  overflow: hidden;


  .section-first__content {
    margin-top: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;

    .content__left {
      h2 {
        margin-bottom: 40px;
      }

      .buttons {
        margin-top: 70px;
        display: flex;
        align-items: center;
        gap: 15px;
        .button{
          &:hover{
            background: #3D4FB3;
            box-shadow: none;
          }
        }

        p {
          max-width: 98px;
        }

        .button__type-circle {
          width: 60px;
        }
      }
    }

    .content__right {
      display: flex;
      align-items: center;

      .utp {
        position: absolute;
        margin-top: 190px;
        margin-left: -30px;

        .circle {
          width: 30px;
          height: 30px;
        }

        .text {
          backdrop-filter: blur(34px);
          background: rgba(246, 246, 246, 0.5);
          border-radius: 10px;
          padding: 20px;
          max-width: 139px;
        }
      }

      .badge-right {
        .circle {
          backdrop-filter: blur(40px);
          background: rgba(255, 255, 255, 0.1);
          position: absolute;
          right: 125px;
          top: 195px;
          transform: rotate(30deg);
          height: 80px;
          width: 80px;
        }
      }
    }
  }

}