.section-first {
    height: 802px;
    background: url("@/assets/images/section-first-background.jpg");
    background-position: center 35%;
    background-size: 120%;
    background-color: rgba(35, 38, 47, 0.6);
    overflow: hidden;

    .section-first__content {
        height: 100%;
        width: 100%;
        backdrop-filter: blur(5px);
        background: rgba(35, 38, 47, 0.6);


        .container {

            h2 {
                margin: 110px 0 40px;
                max-width: 608px;
                color: #ffff;
                font-weight: 600;

                .circle {
                    position: relative;
                    top: -10px;
                }

            }

            p {
                max-width: 571px;
            }


            .section-first__button {
                margin-top: 50px;
                display: flex;

                .circle {
                    width: 60px;
                    height: 60px;
                }
            }
        }
    }
}
@media screen and (max-width:1681px) {
    .section-first {
        .section-first__content {   
            .container {
                h2 {
                    margin: 120px 0 40px;
                    max-width: 608px;
                    color: #ffff;
    
                }
             
            }
        }
    } 
}
@media screen and (max-width:1441px) {
    .section-first {
        .section-first__content {   
            .container {
                h2 {
                    margin: 130px 0 40px;
                    max-width: 608px;
                    color: #ffff;
    
                }
             
            }
        }
    } 
}