.section-map {
    display: flex;
    background: url('@/assets/images/section-map-background.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 568px;
    margin-top: 180px;
    display: flex;
    justify-content: end;

    .section-map__content {
        position: relative;
        margin-top: -120px;
        display: flex;
        flex-direction: column;
        align-items: end;


        .map-circle-heart {
            width: 76px;
            height: 76px;
            transform: rotate(-30deg);
            margin-right: 70px;
            position: absolute;
            z-index: 11111;
            top: -38px;
        }

        .contacts {
            border: 1px solid rgba(119, 126, 144, 0.05);
            border-radius: 30px;
            backdrop-filter: blur(34px);
            background: rgba(255, 255, 255, 0.2);
            padding: 40px;
            display: flex;
            flex-direction: column;
            gap: 40px;

            .blur__text {
                p {
                    padding: 5px 0;
                }
            }

            .blur__button {
                display: flex;

                .button {
                    width: 89%;
                }


                .circle {
                    height: 60px;
                    transform: none;
                }
            }

            .button::before {
                content: 'записаться на прием';
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .section-map {
        display: flex;
        width: 100%;
        justify-content: start;

        .section-map__content {
            position: absolute;
            margin-top: -120px;
            display: flex;
            flex-direction: column;
            align-items: end;

            .contacts {
                display: flex;
                width: calc(100vw - 110px);
                height: 373px;

            }
        }
    }
}

@media screen and (max-width: 541px) {
    .section-map {

        .section-map__content {

            .contacts {
                width: calc(100vw - 60px);

                .button::before {
                    content: 'записаться';
                }
            }
        }
    }
}