.cases-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;

    .cases-item__image {
        margin-bottom: 30px;
        width: 100%;
        height: 300px;
        background-size: contain;
        -moz-background-size: cover;
        -webkit-background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 20px;

    }

    .cases-item__title {
        margin-bottom: 15px;
    }

    .cases-item__description {
        margin-bottom: 40px;
    }

    .text {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        -webkit-line-clamp: 3;
        text-overflow: ellipsis;
    }

    .cases-item__link {
        .button {
            width: 240px;

            .text {
                font-weight: 500;
            }

            &:hover {
                .text {
                    color: white;
                }
            }
        }
    }
}

@media screen and (max-width: 1440px) {
    .cases-item {
        .cases-item__image {
            min-height: 200px;
            height: 279px;
        }
    }
}

@media screen and (max-width: 768px) {
    
}

@media screen and (max-width: 541px) {
    .cases-item {
        width: 100%;

        .cases-item__image {
            border-radius: 20px;
            width: 100%;
        }

        .cases-item__title {
            width: 100%;
        }

        .cases-item__description {
            width: 100%;
        }

        .cases-item__link {
            .button {
                width: 100%;
            }
        }
    }
}