.tags {
    .tags__list {
        display: flex;
        flex-wrap: wrap;
        gap: 28px 20px;

        .item {
            border-radius: 100px;
            background: white;
            padding: 4px 20px;
            cursor: pointer;
           /* .text{
            border: 1px solid #747B8F;
                font-weight: 700;
            }*/

            &:hover {
                background: #23262F;
                

                .text {
                    color: white;
                    
                }
            }
        } 

        .item_active {
            background: #23262F;
            border: 1px solid #23262F;

            .text {
                color: white;
                
            }
        }
    }
}