.header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 35px 40px;
}

.header__menu {
    display: flex;
    justify-content: space-between;
    max-width: 840px;
    width: 100%;
    margin-left: 10px;

}

.menu-right {
    display: flex;
    gap: 10px;
}
@media screen and (max-width: 1680px) {
    .header {
        padding: 30 35px;
    }
}
@media screen and (max-width: 1440px) {
    .header {
        padding: 25px;
}
    
}

@media screen and (max-width: 768px) {
    .header__menu {
        justify-content: end;
    }
}

@media screen and (max-width: 375px) {
    .header {
        padding: 0 20px;
        margin-top: 25px;
    }
}