hr {
    margin: 32px 0 50px;
}

.section-doctor {
    display: grid;
    gap: 0 50px;
    grid-template-columns: 1fr 1fr;

    hr {
        margin: 40px 0;
    }

    .doctor-photo {
        position: absolute;
        display: block;
        width: 490px;
        height: 600px;
        border-radius: 10px;
        background-position: 0 10%;
        background-repeat: no-repeat;
        background-size: 100%;
        grid-column: 1;
    }

    hr {
        grid-column: 2;
    }

    .doctor-info {
        grid-column: 2;
    }

    .doctor-education {
        grid-column: 2;
    }

    .doctor-training {
        grid-column: 2;
    }

    .rating {
        grid-column: 2;
    }

    .button {
        grid-column: 2;
    }
}