.section-second {
  margin-top: -70px;

  h2 {
    margin: 200px 0 80px;
    max-width: 1100px;
  }

  .section-second__items {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    gap: 10px;

    #item-1 {
      background: rgb(241, 243, 249);
      grid-column-start: 1;
      grid-column-end: 6;

      grid-row-start: 1;
      grid-row-end: 3;

      .item__background {
        background-position: 125% 80%;
        background-size: 90%;

        .service__block {
          .text {
            max-width: 260px;
          }
        }
      }

    }

    #item-2 {
      grid-column-start: 6;
      grid-column-end: 11;
      grid-row-start: 1;
      grid-row-end: 3;
      align-items: end;

      .item__background {
        justify-content: end;
        background-position: 100% 10%;
        background-size: 90%;

        .service__block {
          margin-bottom: 10px;
        }
      }
    }

    #item-3 {
      background: rgb(241, 243, 249);
      height: 300px;
      grid-row: 1;
      grid-column-start: 11;
      grid-column-end: 17;

      .item__background {
        background-position: 100% 0;

        .service__block {
          .text {
            max-width: 263px;
          }
        }
      }
    }

    #item-4 {
      height: 300px;
      grid-row: 2;
      grid-column-start: 11;
      grid-column-end: 17;

      .item__background {
        background-position: 100%;

        .service__block {
          .text {
            max-width: 250px;
          }
        }
      }
    }

    #item-5 {
      height: 295px;
      grid-row: 3;
      grid-column-start: 1;
      grid-column-end: 9;

      .item__background {
        background-position: 100%;

        .service__block {
          .text {
            max-width: 306px;
          }
        }
      }

    }

    #item-6 {
      background: rgb(241, 243, 249);
      height: 295px;
      grid-row: 3;
      grid-column-start: 9;
      grid-column-end: 17;

      .item__background {
        background-position: 100% 110%;

        .service__block {
          .text {
            max-width: 370px;
          }
        }
      }
    }

    .item {
      display: flex;
      border-radius: 40px;
      background: rgb(246, 246, 246);
      overflow: hidden;



      &:hover {
        box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
        .item__background{
          .circle{
            background: #3D4FB3;
          }
        }
      }

      .item__background {
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        width: 100%;
        padding: 40px 15px 15px 35px;
        ;


        .service__block {
          display: flex;
          flex-direction: column;


          .text {
            margin-top: 25px;
            font-size: 16px;
          }
        }

        .circle {
          width: 65px;
          height: 65px;
        }

        .item_circle {
          display: flex;
          justify-content: end;
          text-align: end;
        }
      }
    }
  }
}

@media screen and (max-width:768px) {
  .section-second {
    margin-top: -70px;

    h2 {
      margin: 123px 0 40px;
    }

    .section-second__items {
      grid-template-columns: repeat(2, 1fr);

      #item-1 {
        grid-column: 1;
        grid-row-start: 1;
        grid-row-end: 4;
        height: 400px;

        .item__background {
          background-position: 100% 85%;
          background-size: 70%;

          .service__block {
            .text {
              max-width: 260px;
            }
          }
        }

      }

      #item-3 {
        grid-column: 2;
        grid-row-start: 1;
        grid-row-end: 3;

        .item__background {
          background-position: 100% 0;

          .service__block {
            .text {
              max-width: 263px;
            }
          }
        }
      }

      #item-4 {
        grid-column: 1;
        grid-row-start: 4;
        grid-row-end: 6;

        .item__background {
          background-position: 100% 0;
          background-size: 50%;

          .service__block {
            .text {
              max-width: 234px;
            }
          }
        }
      }

      #item-2 {
        grid-column: 2;
        grid-row-start: 3;
        grid-row-end: 6;
        align-items: end;

        .item__background {
          justify-content: space-between;
          background-position: 100% 110%;
          background-size: 90%;

          .service__block {
            margin-bottom: 10px;
          }
        }
      }


      #item-5 {
        grid-column: 1;
        grid-row-start: 6;
        grid-row-end: 8;

        .item__background {
          background-position: -800% 150%;
          transform: scaleX(-1);
          padding: 30px 25px 15px 15px;

          .service__block {
            transform: scaleX(-1);


            .text {
              max-width: 200px;
            }
          }

          .section-second__item_circle {
            transform: scaleX(-1);
          }
        }

      }

      #item-6 {
        grid-column: 2;
        grid-row-start: 6;
        grid-row-end: 8;
        background-image: linear-gradient(0.4turn, rgb(241, 243, 249), #ffffff);

        .item__background {
          background-size: 0%;


          .service__block {
            .text {
              max-width: 370px;
            }
          }
        }
      }

      .item {
        border-radius: 20px;

        .item__background {
          padding: 30px 15px 15px 25px;

          .service__block {
            display: flex;
            flex-direction: column;

            .title {
              font-size: 30px;
            }

            .text {
              margin-top: 15px;
            }
          }

          .circle {
            width: 50px;
            height: 50px;
          }
        }
      }
    }
  }
}

@media screen and (max-width:541px) {
  .section-second {
    margin-top: -70px;
    overflow: hidden;

    h2 {
      margin: 123px 0 40px;
    }

    .section-second__items {
      display: flex;
      position: relative;
      width: 100%;
      left: 0px;
      touch-action: pan-y;
      transition: transform 0.3s ease;

      .item {
        display: flex;
        border-radius: 20px;
        min-width: 290px;
        min-height: 400px;
        width: 100%;
        touch-action: pan-y;
            transition: transform 0.3s ease;

        .item__background {
          padding: 30px 10px 10px 25px;

          .service__block {
            display: flex;
            flex-direction: column;

            .title {
              font-size: 30px;
            }

            .text {
              margin-top: 15px;
            }
          }

          .circle {
            width: 50px;
            height: 50px;
          }
        }
      }

      #item-1 {
        .item__background {
          background-position: 100% 85%;
          background-size: 70%;

          .service__block {
            .text {
              max-width: 260px;
            }
          }
        }

      }

      #item-3 {

        .item__background {
          background-position: 100% 0;

          .service__block {
            .text {
              max-width: 263px;
            }
          }
        }
      }

      #item-4 {
        .item__background {
          background-position: 100% 70%;
          background-size: 50%;

          .service__block {
            .text {
              max-width: 234px;
            }
          }
        }
      }

      #item-2 {
        align-items: end;

        .item__background {
          justify-content: end;
          background-position: 100% 10%;
          background-size: 90%;

          .service__block {
            margin-bottom: 0;
          }
        }
      }


      #item-5 {

        .item__background {
          background-position: -800% 100%;
          transform: scaleX(1);
          padding: 30px 25px 10px 10px;

          .service__block {
            transform: scaleX(1);


            .text {
              max-width: 200px;
            }
          }

          .section-second__item_circle {
            transform: scaleX(-1);
          }
        }

      }

      #item-6 {

        .item__background {
          background-size: 100%;


          .service__block {
            .text {
              max-width: 370px;
            }
          }
        }
      }

    }
  }
}